.label, .input, .button {
    margin: 2mm 0;
}

.label {
  font-size: 1.5rem;
}

.input {
  font-size: 1rem;
  background-color: #111;
  border: 2px solid #666;
  border-radius: 2mm;
  color: white;
  padding: 0.75rem 0.5rem;
}

.input:focus {
  background-color: #080808;
}

.input:disabled {
  background-color: #181818;
}

.button {
  text-align: center;
  font-size: 1.25rem;
  background-color: #0055d4;
  border: none;
  border-radius: 2mm;
  color: white;
  padding: 0.6rem;
}

.button:hover .button:focus {
  background-color: #0044aa;
}

.button:focus {
  box-shadow: 0 0 0 0.25rem #003380;
}

.button:disabled {
  background-color: #444;
}

.input:focus-visible,
.button:focus-visible {
  outline: white solid 3px;
  outline-offset: 2px;
}
